#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 24px;
  gap: 32px;

}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.hero-content h1{
  font-size: 40px;
  flex: 1;
  max-width: 100%;
}

.hero-image{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding:15px;
  gap: 15px;
  margin: 0 auto;
  flex: 1;
  min-width: 45%;
}

.hero-image img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

@media only screen and (max-width: 1024px){
#hero-banner {
  display: flex;
  flex-direction: row;
  padding: 48px 24px;
}

.hero-content{
  max-width: 100%;
}

.hero-content .btn-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
}


